*.class
*.log

# SBT specific.
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ Idea files.
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/misc.xml
.idea/highlighting.xml
.idea/dictionaries
.idea/libraries