@layout("Scala Web Application Toolkit") {
    <div class="row-fluid">
        <p>
            Swat is a toolkit for rich internet application development in <a href="http://scala-lang.org">Scala</a>,
            that brings the power of Scala into the world of JavaScript. It consists of a Scala to JavaScript compiler,
            runtime that supports execution of the compiled code, dependency manager,
            <a href="http://en.wikipedia.org/wiki/Remote_procedure_call">RPC</a> via AJAX with help of custom JSON
            serializers and deserializers and many other features. For more information, visit the
            <a href="https://github.com/siroky/Swat">Github Repository</a>. Or you may try the compiler right now, just
            write some Scala code to the left editor and see how it compiles to JavaScript.
        </p>
    </div>
    <div id="headers" class="row-fluid">
        <div class="span6">
            <h3>
                Scala
                <button id="compile-button" class="btn btn-danger pull-right">
                    Compile with Swat
                    <i class="icon-magic"></i>
                </button>
            </h3>
        </div>
        <div class="span6">
            <h3>
                JavaScript
                <button id="run-button" class="btn btn-success pull-right">
                    Run
                    <i class="icon-play"></i>
                </button>
            </h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div id="scala-editor" style="width: 100%; height: 450px;"></div>
        </div>
        <div class="span6">
            <div id="javascript-editor" style="width: 100%; height: 450px;"></div>
        </div>
    </div>
    <div id="compiling-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <h3>Compiling</h3>
        </div>
        <div class="modal-body">
            <p>The Scala code is being compiled to JavaScript…</p>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/ace/ace.js")"></script>
    <script src="/swat/app/swat.web.swatter.Client"></script>
}
